*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
   
}


h1{
    /*width: fit-content;*/
    display: inline-block; 
    margin: 2px auto;
    letter-spacing: 4px;
    color: #a7f902;
    font-size: 27px;
    text-align: start;
   /* border: 1px solid green;*/
   font-weight: lighter;
}

h3{
    display: inline-block;
   /* border: 1px solid purple;*/
}


.contenedor {
    width: 96%;
    height: 100vh;
    padding: 5px;
    background-image: linear-gradient(to top, #078e83 0%, #18025a 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    
    
}

.contenedor .cont-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
   /* border: 2px solid blue;*/
    height: 100%;
    width: 20%;
    align-items: center;
}


.contenedor .contenedor-puzzle{
    display: flex;
    flex-direction: row;
   /* border: 1px solid yellow;*/
    width: 80%;
}

.contenedor .contenedor-puzzle .piezas {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
    justify-content: center;
    
}

.contenedor .contenedor-puzzle .puzzle {
    border: 1px solid #a7f902;
  /*  width: 318px;*/
    width: 320px;
    height: 495px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.pieza {
    width: 106px;
    height: 165px;
    background-size: cover;
    margin: 4px;
    cursor: pointer;
}

.placeholder {
   /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*//*se lo saco xq no me permite aplicar el efecto hover con JS*/
    outline: 1px solid #8ace01;
    width: 106px;
    height: 165px;
    transition: 1s;
    
}

.placeholder.hover {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      
}

.placeholder .pieza {
    margin: 0;
}

#mensajeJS {
    color: yellow;
    font-size: 40px;
    text-align: center;
    letter-spacing: 4px;
    display: none;
}

.ganaste {
    background-color: #fff;
}

.ganaste #mensajeJS {
    display: block;
}

.ganaste .placeholder {
    outline: none;
}

.ganaste .piezas {
    display: none;
}

